#WhatWeDo, #WhatWeDoPage{
    .common-btn{
        &:before, &:after{
            content: 'contact with us';
        }
    }
    img{
        width: 100%;
        height: 425px;
    }
}
#WhatWeDo{
    .content{
        padding: 70px 40px 72px 160px;
    }
}
#WhatWeDoPage{
    .left{
        .content{
            padding: 70px 0px 70px 110px;
        }
    }
    .right{
        .content{
            padding: 70px 110px 70px 0px;
        }
    }
}
@media (max-width: 991.98px) { 
    #WhatWeDo .content, #WhatWeDoPage .content {
        padding: 30px 20px 30px 30px !important;
    }
}
@media (max-width: 767px){
    #WhatWeDo .content, #WhatWeDoPage .content {
        padding: 0px 15px 40px 15px !important;
    }
    #WhatWeDoPage{
        .line{
            div{
                width: 44px;
                height: 6px;
            }
        }
    }
}